# Environnement virtuel local
.venv/
.venv_geo/

# Fichiers d'environnement
.env
.env.*

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Config éditeur
.vscode/
.idea/

# Streamlit
# .streamlit/ (commented out to allow config.toml)

# Divers
.DS_Store
